.table {
  display: flex
}

.year {
  font-weight: bold;
  font-size: 16px;
}

.year-title td {
  text-align: right;
}

.title-column {
  min-width: 240px;
  max-width: 240px;
  flex: 1;
}

.data-columns {
  flex: 4;
  overflow: auto
}

.data-columns td {
  min-width: 80px;
  max-width: 120px;
  text-align: right;
}

.age td {
  text-align: right;
  font-style: italic;
}

.taxes td {
  color: red;
}

.income-total {
  background-color: lightblue
}

.income-total-title {
  font-weight: bold
}

.navigation {
  display: flex;
  justify-content: flex-end
}

.navigation button {
  width: 120px;
}

.after-tax {
  font-weight: bold;
  font-size: 16px;
}